@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --primary-color: #4640DE;
  --secondary-color: #3D3D3D;
  --third-color: #575757;
  --fourth-color: #FFFFFF;

  --element-first: #BAD4D7;
  --element-second: #455174;
}

html, body {
  font-family: "Poppins";
  font-style: normal;
  background-color: var(--fourth-color);
  overflow-x: hidden;
  position: relative;
  box-sizing: border-box;
  transition: .4s;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

/* Navigasi */
.navigasi__bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.nav__item {
  color: var(--secondary-color);
  font-size: 15px;
  padding: 5px;
}

.nav__item:hover, .nav__active{
  text-decoration: none;
  background-color: var(--element-second);
  color: var(--fourth-color);
  padding: 5px;
  border-radius: 10px;
  transition: .2s;
}

.navbar-brand{
  font-weight: 500px;
}

.nav-color {
  background: linear-gradient(0deg, var(--fourth-color) 0.98%, var(--element-first) 165.36%);
  transition: all ease-in-out 0.3s;
}

/* Profil */
.profile-bar {
  background: linear-gradient(112.9deg, var(--fourth-color) 0.98%, var(--element-first) 165.36%);
  box-shadow: 0px 12px 11px #5FA0BD;
  border-radius: 30px;
  margin-top: 100px;
  margin-bottom: 150px;
}

.profile-title {
  line-height: 4rem;
  color: #3D3D3D;
}

.profile-title span {
  color: var(--primary-color);
}

.profile-description {
  color: #575757;
  line-height: 1.7rem;
  font-size: 25px;
}

.profile-image {
  margin-bottom: 20px;
  text-align: center;
}

.btn-profile {
  background: #455174;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 20px;
  border: none;
}

/* About */
.about-bar {
  background: linear-gradient(112.9deg, var(--element-first) 0.98%, var(--fourth-color) 165.36%);
  padding: 100px;
}

.about-description {
  text-align: justify;
}

.about-skill {
  background-color: #DFECF2;
  height: 80px;
  width: 80px;
  margin: 5px;
}

.about-skill-images {
  position: relative;
  padding: 15px 0;
}

/* Projects */
#projects {
  padding-top: 50px;
}

.project-mine {
  box-shadow: 0px 12px 11px rgba(95, 160, 189, 0.47);
  border-radius: 40px;
}

.project-things:hover {
  width: 480px;
  transition: all ease-in-out 0.3s;
}

.project-image {
  border-top-left-radius: 35px; 
  border-top-right-radius: 35px;
}

.vector-right{
  background-color: var(--primary-color);
  transition: .4s;
}

.card-title {
  color: #252525;
}

.card-text{
  color: #575757;
  text-align: start;
}

.portofolios-type {
  color: #9d9d9d;
}

.portofolios-checkout{
  color: var(--secondary-color);
}

.portofolios-checkout span {
  color: var(--primary-color);
}

.portofolios-card {
  display: flex;
  justify-content: center;
}

/* Contact */
.contact-bar {
  background: #F8F8FA;
  margin-top: 180px;
  padding-bottom: 150px;
}

.contact-me {
  box-shadow: 0px 12px 11px rgba(95, 160, 189, 0.47);
  border-radius: 20px;
}

/* Footer */
.desc-footer{
  color: var(--secondary-color);
}

.footer-title{
  color: var(--secondary-color);
}

.footer-contact{
  color: var(--secondary-color);
}

.contact-button {
  background-color: #DFECF2;
  height: 50px;
  width: 50px;
  margin: 5px;
  margin-bottom: 20px;
}

.contact-images {
  position: relative;
  padding: 7px 0;
}

.link-menu {
  margin-bottom: 20px;
}
.link-menu a {
  font-weight: normal;
  color: var(--secondary-color);
}
.link-menu a:hover {
  color: var(--primary-color);
  transition: .4s;
}

.call-us {
  margin-bottom: 20px;
}
.call-us a {
  font-weight: normal;
  color: var(--secondary-color);
}
.call-us a:hover {
  color: var(--primary-color);
  transition: .4s;
}

footer {
  font-size: 14px;
}

/* Up */
.up-content {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--element-second);
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 33px;
  color: white;
  cursor: pointer;
}

.up-appear {
  display: flex;
}

/* Loading */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 40%;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--element-second);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.overlay {
  z-index: 999999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--fourth-color);
  text-align: center;
}