@media screen and (max-width: 992px){
    .desc-footer {
        display: none;
    }
    .footer-title {
        margin-top: 20px;
        font-size: 13px;
    }
    .second-footer {
        font-size: 10px;
    }
    .call-us p, .link-menu a {
        font-size: 12px;
    }
    .call-us p {
        line-height: 20px;
    }
    .profile-bar {
        margin-top: 80px;
    }
    .profile-image img {
        width: 300px;
    }
    .navbar-email {
        display: none;
    }
    .navbar-theme {
        display: none;
    }
}

@media screen and (max-width: 922px){
    .profile-title {
        line-height: 40px;
    }
    .profile-description {
        line-height: 30px;
    }
    .btn-profile {
        font-size: 13px;
    }
}

@media screen and (min-width: 770px) {
    .footer-title {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 770px) {
    .profile-title {
        font-size: 30px;
    }
    .profile-description {
        font-size: 25px;
    }
    .portofolios-type {
        font-size: 20px;
    }
    .portofolios-checkout {
        font-size: 25px;
    }
    .about-bar {
        padding: 50px;
    }
    .profile-image img {
        width: 280px;
    }
}

@media screen and (max-width: 576px){
    .card-title {
        font-size: 18px;
    }
    .about-bar {
        padding: 20px;
    }
    .about-description {
        font-size: 14px;
    }
    .card-text {
        font-size: 13px;
    }
    .profile-bar {
        margin-top: 60px;
    }
    .profile-image img {
        width: 250px;
    }
}

@media screen and (max-width: 350px){
    .profile-title {
        font-size: 25px;
        line-height: 30px;
    }
    .profile-description {
        font-size: 20px;
        line-height: 15px;
    }
    .btn-profile {
        font-size: 10px;
    }
    .card-title {
        font-size: 15px;
    }
    .portofolios-type {
        font-size: 15px;
    }
    .portofolios-checkout {
        font-size: 28px;
    }
    .contact-me label {
        font-size: 14px;
    }
    .profile-image img {
        width: 220px;
    }
}